###################
# backup files
###################
*.bak
*.bck
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.a
*.bin
*.d
*.elf
*.hex
*.list
*.srec
*.map
*.macros_expanded

####################
# R temporary files
####################
.RData
.Rhistory
